@charset "utf8";

body{
    background-color:white;
}

.container-fluid header{
    background-color: rgba(241, 237, 237, 0);
    padding: 20px;
    border-radius: 10px;
}

#logoIfrn{
    width: 45%;
}

.img-fluid{
    width: 100%;
}

#imgcorpo{
    width: 100%;
    margin-top: 100px;
}

#resumoNeabi{
    margin-top: 10px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    text-align: justify;
}

footer #infosite{
    background-color: rgb(80, 79, 79);
    padding: 30px;

}

footer #infosite img{
    margin-top: -10px;
}

footer #infosite p{
    color: white;
    text-align: center;
}

#ifrnlogo{
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}

footer #adicionais{
    background-color: rgb(46, 46, 46);
    padding: 10px;
    color: white;
}

footer #adicionais h1{
    display: flex;
    justify-content: center;
}

footer #adicionais #arquivos {
    display: block;
    justify-content: center;
}