@charset "utf8";
	
* { margin: 0; padding: 0; }

body{
    background-color:white;
}

.container-fluid header{
    background-color: rgba(241, 237, 237, 0);
    padding: 20px;
    border-radius: 10px;
}

#logoIfrn{
    width: 45%;
}

.img-fluid{
    width: 100%;
}

#imgcorpo{
    width: 90%;vertical-align: center;
}

#resumoNeabi{ 
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    text-align: justify;
}

footer #infosite{
    background-image: url("../_img/fundorodape.jpeg");
    background-size: 100%;
    background-repeat: repeat-x;
}

footer #infosite img{
    margin-top: -10px;
}

footer #infosite p{
    color: white;
    text-align: center;
}

#ifrnlogo{
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}

footer #adicionais{
    background-color: rgb(46, 46, 46);
    padding: 10px;
    color: white;
}

footer #adicionais h3{
    display: flex;
    justify-content: center;
}

footer #adicionais #arquivos {
    display: block;
    justify-content: center;
}

#feitopor{
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: justify; 
    color: white;
}

div #center{
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}